Must Have:
1. Reset Button
2. Live graph updates as changes are made
3. >1 Visual representation
4. Multi-platform compatibility*
5. Ability to change individual variables of the function

Would Improve Software:
1. Easy to use GUI
2. Automatic and uniform scaling at 4:3 ratio
3. <2 Visual representations of the data

*Since we are coding in Java, it will be compatible with most OSs automatically
